    <!-- Example row of columns -->  
<div class="row">
        
        <div class="col-md-4">
            <h2>Kendo MVVM</h2>
            <p>
                Model View ViewModel (MVVM) is a design pattern which helps developers separate the Model, which is the
                data, from the View, which is the user interface (UI). The View-Model part of the MVVM is responsible
                for exposing the data objects from the Model in such a way that those objects are easily consumed in the
                View.
            </p>
            <p>
                <a class="btn btn-secondary" target="_blank"
                   href="http://docs.telerik.com/kendo-ui/framework/mvvm/overview"
                   role="button">Overview</a>
                <a class="btn btn-secondary" target="_blank"
                   href="http://demos.telerik.com/kendo-ui/mvvm/index"
                   role="button">Examples</a>
                <a class="btn btn-secondary" target="_blank"
                   href="http://docs.telerik.com/kendo-ui/framework/mvvm/bindings/"
                   role="button">Bindings</a>
            </p>
        </div>

        <div class="col-md-4">
            <h2>Kendo View</h2>
            <p>
                The View class instantiates and handles the events of a certain screen from the application. Widget and
                DOM event handling and data binding can be performed through MVVM or declarative data attribute
                initialization
            </p>
            <p>
                <a class="btn btn-secondary" target="_blank" href="http://docs.telerik.com/kendo-ui/framework/spa/view"
                   role="button">Overview</a>
                <a class="btn btn-secondary" target="_blank" href="http://docs.telerik.com/kendo-ui/api/javascript/view"
                   role="button">Documentation</a>
                <a class="btn btn-secondary" target="_blank" href=" http//docs.telerik.com/kendo-ui/api/javascript/effects/tile"
                role="button">Effects</a>

            </p>
        </div>

        <div class="col-md-4">
            <h2>Kendo Router</h2>
            <p>
                The Router class is responsible for tracking the application state and navigating between the
                application states. The router integrates into the browser history using the fragment part of the URL
                (#page), making the application states book-markable and linkable. It is also used for programmatic
                navigation to a given state. A change event is exposed, suitable for authorization hooks.
            </p>
            <p>
                <a class="btn btn-secondary" target="_blank" href="http://docs.telerik.com/kendo-ui/framework/spa/router"
                   role="button">Overview</a>
                <a class="btn btn-secondary" target="_blank"
                   href="http://docs.telerik.com/kendo-ui/api/javascript/router"
                   role="button">Documentation</a>
            </p>
        </div>


    </div>



